.js-animation {
    @include tablet {
        filter: blur(5px);
        opacity: 0;
        transform: translateY(100px);
        transition: .8s $easeOutCirc opacity,
                    1s $easeOutCirc filter,
                    1.3s $easeOutCirc transform;
    }

    &.animated {
        @include tablet {
            filter: blur(0px);
            opacity: 1;
            transform: translateY(0);
        }
    }
    &.animation-delay {
        transition-delay: .2s;

        & + & {
            transition-delay: .4s;
        }
        & + & + & {
            transition-delay: .6s;
        }
        & + & + & + & {
            transition-delay: .8s;
        }
        & + & + & + & + & {
            transition-delay: 1s;
        }
        & + & + & + & + & + & {
            transition-delay: 1.2s;
        }
        & + & + & + & + & + & + & {
            transition-delay: 1.4s;
        }
        & + & + & + & + & + & + & + & {
            transition-delay: 1.6s;
        }
        & + & + & + & + & + & + & + & + & {
            transition-delay: 1.8s;
        }
    }
}
