.cookies {
    background: $cBright;
    border-radius: 8px;
    position: fixed;
    z-index: 9;
    bottom: $indent;
    right: $indent;
    padding: 10px 14px;
    gap: 30px;
    box-sizing: border-box;
    display: none;
    align-items: center;
    @include tablet {
        bottom: 40px;
        right: 80px;
        padding: 18px 24px;
        gap: 30px;
        max-width: 520px;
    }


    &_text {
        color: $bg_color;
        font-size: 10px;
        @include tablet {
            font-size: 16px;
        }

        p {
            margin-bottom: 16px;
            @include tablet {
                margin: 0;
            }
        }
        a {
            color: $color;
            text-decoration: underline;

            &:hover {
                color: $bg_color;
            }
            &:active {
                text-decoration: none;
            }
        }
    }

    &_button {
        color: $color;
        background-color: $bg_color;
        border: 1px solid transparent;
        width: auto;
        min-width: 0;
        flex-shrink: 0;
        @include tablet {
            min-width: 0;
        }

        &:hover {
            color: $bg_color;
        }
        &:active {
            text-decoration: none;
        }
    }
}
