.footer {
    background: url(#{$img}/footer.svg) no-repeat center bottom / cover;
    color: #fff;
    padding: 84px 0 24px;

    &_holder {
        @include layout;
        display: flex;
        justify-content: space-between;
        gap: 50px;
    }

    &_right {
        width: 70%;
    }
    &_menu {
        display: flex;
        justify-content: space-between;
        gap: 50px;
    }
    &_column-title {
        color: rgba(#fff, .5);
        display: block;
        line-height: 140%;
        margin: 0 0 24px;
    }
    &_link {
        color: #fff;
        display: block;
        line-height: 140%;
        margin: 0 0 24px;
        max-width: 190px;
    }
    &_social {
        display: flex;
        gap: 24px;
    }
    &_social-link-image {
        width: 32px;
        height: 32px;
    }
    &_copyright {
        text-align: center;
        display: block;
        margin: 220px 0 0;
    }
}
