.intro {
    @include tablet {
        display: flex;
        justify-content: space-between;
        gap: 40px;
        align-items: center;
        margin-bottom: -20px;
    }

    &_content {
        text-align: left;
        @include tablet {
            max-width: 45%;
        }
    }
    &_text {
        font-weight: 500;
        font-size: 20px;
        line-height: 140%;
    }

    h1 {
        color: $cBright;
        margin: 0 0 24px;
        text-align: left;
    }
}
