
.menu {
    background-color: $bg_color;
    box-sizing: border-box;
    position: fixed;
    z-index: 11;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    height: 100%;
    overflow-y: auto;
    left: 100%;
    top: 0;
    width: 100%;
    transform: translateX(0);
    transition: .6s $easingSmooth transform,
                .3s $easingSmooth opacity .1s;
    @include desktop {
        background: none;
        right: 0;
        top: 0;
        padding: 30px 0 0;
        left: auto;
        width: auto;
        height: auto;
        z-index: 11;
        position: absolute;
    }

    .menu-opened & {
        transform: translateX(-100%);
    }

    &_links {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 32px;
        @include desktop {
            flex-direction: row;
            align-items: stretch;
            text-align: right;
            position: relative;
            z-index: 1;
            mix-blend-mode: difference;
        }

        .header__static & {
            @include desktop {
                display: none;
            }
        }
    }
    &_link {
        font-size: 24px;
        color: $color;
        transition: .3s $easing color;
        @include desktop {
            font-size: 16px;
            opacity: 1;
        }
       
        &.active {
            color: $cBright;
        }
        &:hover {
            color: $cBright;
        }

    }

}
