
.menu {
    background-color: $bg_color;
    box-sizing: border-box;
    position: fixed;
    z-index: 11;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    height: 100%;
    overflow-y: auto;
    left: 100%;
    top: 0;
    width: 100%;
    transform: translateX(0);
    transition: .6s $easingSmooth transform,
                .3s $easingSmooth opacity .1s;
    @include desktop {
        background: none;
        right: 0;
        top: 0;
        padding: 30px;
        left: auto;
        width: auto;
        height: auto;
        z-index: 11;
        mix-blend-mode: difference;
        overflow-y: visible;
        position: absolute;
    }

    .menu-opened & {
        transform: translateX(-100%);
    }
    .header__static & {
        @include desktop {
            position: static;
            flex-grow: 1;
            width: 33.33%;
            box-sizing: border-box;
        }
    }

    &_bg {
        @include desktop {
            position: absolute;
            right: 0;
            top: 0;
            overflow: hidden;
            width: 500px;
            height: 500px;
            pointer-events: none;
        }


        &::before,
        &::after {
            @include desktop {
                content: '';
                width: 705px;
                height: 705px;
                position: absolute;
                right: -435px;
                top: -430px;
            }

            .header__static & {
                @include desktop {
                    content: none;
                }
            }
        }
        &::before {
            @include desktop {
                background: url(#{$img}/menu-circle.svg) no-repeat center center / 100% 100%;
            }
        }
        &::after {
            @include desktop {
                border-radius: 50%;
                background-color: $bg_color;
                transform: scale(0);
                transform-origin: center center;
                transition: .3s $easingSmooth transform;
            }
        }
        .menu:hover &::after {
            @include desktop {
                transform: scale(1);
            }
        }
    }
    &_header {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 36px 0;
        position: relative;
        border-bottom: 1px dashed #000;
        @include desktop {
            display: none;
        }
    }
    &_logo {
        font-family: $font-family;
        font-weight: 700;
        font-size: 32px;
        line-height: 90%;
        text-transform: uppercase;
        color: #000;
        @include tablet {
            font-size: 40px;
        }
    }
    &_close {
        @include button-reset;
        color: #000;
        font-size: 14px;
        position: absolute;
        right: 18px;
        top: 40px;
        font-family: $font-family;
        font-weight: normal;
        transition: .2s $easingSmooth opacity,
                    .2s $easingSmooth color;

        &:hover {
            color: $cBright;
        }
    
        &:active {
            opacity: .8;
        }
    }
    &_links {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        @include desktop {
            align-items: stretch;
            text-align: right;
            position: relative;
            z-index: 1;
            mix-blend-mode: difference;
        }

        .header__static & {
            @include desktop {
                display: none;
            }
        }
    }
    &_link {
        font-size: 24px;
        color: $color;
        opacity: .5;
        margin: 12px 0;
        transition: .3s $easing opacity,
                    .3s $easing filter;
        @include desktop {
            color: $bg_color;
            font-size: 16px;
            margin: 8px 0;
            opacity: 1;
        }

       

        &.active {
            opacity: 1;
        }
        &:hover {
            @include desktop {
                opacity: 1;
            }
        }

        // .menu &:hover,
        // .menu &.active {
        //     @include tablet {
        //         filter: hue-rotate(170deg);
        //         mix-blend-mode: difference;
        //     }
        // }

        .header__static & {
            @include desktop {
                flex-shrink: 0;
            }
        }
    }
    // &_link-text {
    //     position: relative;
// 
    //      &::before {
    //         @include desktop {
    //             content: '';
    //             position: absolute;
    //             left: -20px;
    //             top: 5px;
    //             height: 8px;
    //             width: 8px;
    //             border-radius: 50%;
    //             transition: .2s $easing background;
    //         }
    //     }
// 
    //     .menu_link.active & {
    //         &::before {
    //             background-color: currentColor;
    //         }
    //     }
    // }
    &_footer {
        background-color: #000;
        border-top: 1px dashed $bg_color;
        @include desktop {
            display: none;
        }
    }
    &_footer-text {
        padding: 80px $indent;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 12px;
        @include tablet {
            padding-top: 126px;
            padding-bottom: 126px;
        }
    }
    &_footer-link {
        color: $bg_color;
        font-size: 16px;
        line-height: 1.5;
        transition: .2s $easingSmooth opacity,
                    .2s $easingSmooth color;
        
        &:hover {
            color: $cBright;
        }
    
        &:active {
            opacity: .8;
        }
    }
    &_footer-social {
        display: flex;
        align-items: stretch;
        justify-content: center;
        border-top: 1px dashed $bg_color;
    }
    &_footer-social-link {
        display: flex;
        align-items: center;
        padding: 24px 32px;
        border-right: 1px dashed $bg_color;

        @include desktop {
            padding-left: 64px;
            padding-right: 64px;
        }

        &:first-child {
            border-left: 1px dashed $bg_color;
        }
    }

    &_footer-social-image {
        height: 32px;
        width: 32px;
        transition: .2s $easingSmooth opacity,
                    .1s $easingSmooth transform;

        &:hover {
            opacity: .8;
        }

        &:active {
            transform: scale(.9);
        }
    }
}
