.menu-toggle {
    @include button-reset;
    position: fixed;
    top: 28px;
    right: 30px;
    width: 26px;
    height: 20px;
    z-index: 12;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    transition: .2s linear filter;
    @include desktop {
        display: none;
    }
    
    .menu-opened & {
        filter: invert(100%);
    }

    &_line {
        width: 100%;
        height: 2px;
        background: $color;
        border-radius: 1px;
        transform-origin: center;
        transition: .2s linear transform,
                    .2s linear opacity;

        &:last-child {
            width: 50%;
        }

        .menu-opened &:first-child {
            transform: rotate(45deg) translate(8px, 10px);
        }
        .menu-opened &:nth-child(2) {
            transform: rotate(-45deg) translate(-4px, 2px);
        }
        .menu-opened &:last-child {
            transform: scale(0);
        }
    }
}
