.page-404 {
    @include layout;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
    padding-bottom: 40px;
    @include tablet {
        padding-bottom: 80px;
    }

    &_image {
        display: block;
        margin: 0 auto 40px;
        @include tablet {
            margin-bottom: 0;
            max-width: 900px;
        }
    }
    &_title {
        font-weight: 600;
        font-size: 26px;
        line-height: 140%;
        margin: 0 0 20px;
        @include tablet {
            font-weight: 500;
            font-size: 32px;
            line-height: 120%;
            text-align: center;
            margin: 0 0 80px;
        }
    }
}
