.popup {
    height: 95%;
    box-sizing: border-box;
    z-index: 20;
    margin: 50px auto;
    transition: .3s $easingSmooth transform,
        .3s $easingSmooth opacity;

    &_close {
        background: url(#{$img}/popup-close.svg) no-repeat center center / contain;
        border: none;
        height: 40px;
        width: 40px;
        position: absolute;
        top: 32px;
        right: 24px;
        z-index: 3;
        min-width: 0;
        padding: 0;
        transition: .2s $easing opacity;


        &:hover {
            opacity: .6;
        }

        &:active {
            opacity: 1;
        }
    }

    &_content {
        background: $bg_color;
        box-shadow: 0px 0px 50px rgba(28, 30, 35, .2);
        border-radius: 16px;
        box-sizing: border-box;
        overflow: auto;
        height: 100%;
        margin: auto;
        width: 80vw;
        max-width: 930px;
        padding: 60px 56px;
        @include tablet {
            padding: 80px 96px;
        }
    }

    h2 {
        color: $cBright;
        font-weight: 600;
        font-size: 32px;
        line-height: 120%;
        margin: 0 0 40px;
    }
}
