.showcase {
    text-align: center;

    &_holder {
        @include layout;
    }
    &_top {
        background: url(#{$img}/main.png) no-repeat center bottom / 100% auto;
        height: 70vw;
    }
    &_bottom {
        background-color: $color;
        color: $bg_color;
        padding: 60px 0 80px;
    }
    &_points {
        display: flex;
        gap: 74px;
    }
    &_point {
        background: url(#{$img}/arrow.svg) no-repeat left center;
        padding-left: 46px;
    }
    &_stats {
        display: flex;
        justify-content: space-between;
        gap: 30px;
    }
    &_stats-item {
        background: $cBright;
        padding: 32px 24px;
        border-radius: 16px;
    }
    &_stats-title {
        font-size: 44px;
        line-height: 53px;
        display: block;
    }
    &_stats-number {
        display: block;
    }
}
