.form {
    &_row {
        margin: 0 0 32px;
        position: relative;
        @include desktop {
            display: flex;
            justify-content: space-between;
            gap: 30px;
        }
    }
    &_item {
        flex-grow: 1;
        width: 50%;
        
        &__center {
            text-align: center;
        }
    }
}
