textarea {
    @include placeholder-color($color);
    color: $color;
    background: #fff;
    border: 1px solid #9CA3AF;
    border-radius: 8px;
    box-sizing: border-box;
    font: 400 16px $font-family;
    height: 56px;
    line-height: 34px;
    padding: 4px $indent;
    width: 100%;
    resize: none;
    height: 140px;
    margin: 0 0 16px;

    &:focus,
    &.focus {
        border-color: $color;
    }

    .error & {
        @include placeholder-color($cBright);
        color: $cBright;
    }
}
