.clients {
    text-align: center;
    display: flex;
    flex-direction: column;
    @include tablet {
        display: block;
    }

    h1 {
        order: 1;
        text-align: left;
        @include tablet {
            text-align: center;
        }
    }
    &_subtitle {
        font-size: 18px;
        line-height: 120%;
        margin: 0 auto 32px;
        font-weight: 500;
        max-width: 640px;
        text-align: left;
        order: 3;
        @include tablet {
            font-size: 24px;
            text-align: center;
        }
    }
    &_categories {
        margin: 0 0 44px;
        order: 2;
        text-align: left;
        @include tablet {
            text-align: center;
        }
    }
    &_category {
        font-size: 15px;
        line-height: 18px;
        display: inline-block;
        color: #fff;
        font-weight: 600;
        padding: 10px 24px;
        background-color: $cBright;
        border-radius: 10px;
        margin: 0 1px 5px 0;
        transition: .2s ease opacity;
        @include tablet {
            font-size: 22px;
            line-height: 27px;
            margin: 0 4px 16px;
        }

        &.inactive {
            opacity: .3;
        }
    }
    &_cards {
        order: 4;
        @include desktop {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: auto;
            gap: 24px 30px;
        }
    }
    &_more {
        @include button-reset;
        font-size: 20px;
        line-height: 120%;
        text-decoration-line: underline;
        color: $color;
        margin: 40px auto 0;
        @include tablet {
            font-size: 24px;
            margin-top: 64px;
        }

        &:hover {
            text-decoration: none;
        }
        &:active {
            opacity: .6;
        }
    }
}
