.client-card {
    border-radius: 16px;
    text-align: left;
    background-color: $bg_color;
    padding: 32px;
    color: $color;

    &_icon {
        margin: 0 0 20px;
    }
    &_title {
        font-weight: 600;
        font-size: 23px;
        margin: 0 0 8px;
    }
    &_text {
        font-weight: 400;
        font-size: 18px;
        line-height: 140%;
        margin: 0 0 20px;
    }
    &_tags {
        display: flex;
        gap: 10px;
    }
    &_tag {
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        padding: 6px 18px;
        border: 1px solid rgba(34, 34, 34, .3);
        border-radius: 10px;
    }
}
