.contacts {
    &_title[class] {
        color: $cBright;
        text-align: left;
    }
    &_bg {
        position: absolute;
        left: 50%;
        bottom: 0;
        z-index: 0;
        max-width: 200%;
        min-width: 100%;
        transform: translateX(-50%);
        opacity: .2;
        @include tablet {
            left: 0;
            width: 100%;
            transform: none;
        }
    }
    &_info {
        margin: 70px 0 0;
        @include tablet {
            display: flex;
            gap: 90px;
            margin: 0;
        }
    }
    &_info-column {
        margin: 0 0 30px;
        font-weight: 500;
        font-size: 18px;
        line-height: 150%;
        width: 285px;
        @include tablet {
            margin: 0;
            font-size: 16px;
            line-height: 140%;
        }

        p {
            margin: 0;
        }
    }
    &_info-title {
        color: $cBright;
        font-weight: 700;
        font-size: 26px;
        line-height: 120%;
        display: block;
        margin: 0 0 16px;
        @include tablet {
            font-weight: 600;
            font-size: 24px;
        }
    }
}
