.faq {
    text-align: left;
    margin: 0 0 45px;
    position: relative;
    z-index: 3;

    &_header {
        cursor: pointer;
        display: block;
        font-size:18px;
        line-height: 1.2;
        padding: 32px 55px 32px 0;
        border-bottom: 1px solid $color;
        position: relative;
        font-weight: 600;
        transition: .2s $easing opacity;
        user-select: none;
        @include tablet {
            font-size: 32px;
            padding: 32px 40px 32px 0;
        }

        &:hover {
            opacity: .6;
        }

        &:active {
            opacity: .8;
        }

        .opened & {
            color: $cBright;
        }
        .faq_item:first-child & {
            @include tablet {
                border-top: 1px solid $color;
            }
        }
    }

    &_header-arrow {
        background: url(#{$img}/faq-arrow.svg) no-repeat center / 17px 10px;
        height: 32px;
        width: 32px;
        position: absolute;
        right: 0;
        top: 50%;
        margin-top: -16px;
        transform-origin: center;
        pointer-events: none;
        transform: rotate(-180deg);
        transition: .2s linear transform;
        @include tablet {
            background-size: 25px 15px;
        }

        .opened & {
            transform: rotate(0deg);
        }
    }

    &_content {
        font-weight: 400;
        font-size: 20px;
        line-height: 140%;
        overflow: hidden;
        max-height: 0;
        @include tablet {
            transition: .4s ease max-height;
        }

        .opened & {
            max-height: 1000px;
        }
    }
    &_text {
        padding: 20px 0;
        @include tablet {
            padding: 40px 0;
        }
    }
}
