.map {
    @include tablet {

        display: flex;
    }

    &_holder {
        position: relative;
        min-height: 400px;
        @include tablet {
            width: 60%;
        }
    }
    &_info {
        background: $cBright;
        box-sizing: border-box;
        padding: 60px 36px 20px;
        @include tablet {
            width: 40%;
            padding: 40px 96px;
        }
    }
    &_info-item {
        margin: 0 0 40px;
        @include tablet {
            margin-bottom: 28px;
        }
    }
    &_info-title {
        margin: 0 0 16px;
    }
    &_info-text {
        color: $bg_color;
        font-weight: 500;
        font-size: 16px;
        line-height: 116.5%;

        &:hover {
            color: $color;
        }
        &:active {
            opacity: .6;
        }
    }
}

#map {
    p {
        margin: 0;
    }
}
