.ny-map {
    display: flex;
    justify-content: flex-end;
    position: relative;

    &_content {
        @include tablet {
            position: absolute;
            left: 0;
            top: 110px;
            width: 610px;
            max-width: 50%;
        }

        h3 {
            margin: 0 0 40px;
        }

        ul {
            list-style: none;
            padding: 0;
        }
        li {
            padding: 0 0 0 54px;
            margin: 0 0 32px;
            font-weight: 500;
            font-size: 24px;
            line-height: 120%;

            &::before {
                content: '';
                background: #fff url(#{$img}/check.svg);
                position: absolute;
                left: 0;
                top: 10px;
                width: 30px;
                height: 30px;
            }
        }
    }
}
