.press {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 40px 30px;

    &_card {
        border-radius: 16px;
        background-color: $bg_color;
        padding: 24px 24px 32px 24px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: stretch;
        box-sizing: border-box;
        @include tablet {
            min-height: 500px;
        }
    }
    &_image {
        border-radius: 16px;
        margin-bottom: 32px;
    }
    &_card-title {
        font-weight: 600;
        font-size: 24px;
        line-height: 120%;
        margin: 0 0 20px;
    }
    &_card-logo {
        display: block;
        margin-bottom: 16px;
    }
    &_card-source {
        display: block;
        font-weight: 500;
        font-size: 12px;
        line-height: 15px;
        color: #A9A9A9;
    }
}
