.road-carousel {
    position: relative;
    overflow: hidden;
    padding: 0 0 60px;
    user-select: none;
    @include tablet {
        padding: 0 0 80px;
    }

    &_wrapper {
        margin: auto;
        margin-bottom: 70px;
        @include tablet {
            margin-bottom: 110px;
            width: 500px;
        }
    }

    &_bg {
        position: absolute;
        bottom: 120px;
        left: 50%;
        width: auto;
        max-width: none;
        transform: translateX(-32%);
        @include tablet {
            min-width: 100vw;
            bottom: 140px;
            transform: translateX(-50%);
        }
    }
    &_slides {
        
    }
    &_slide {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        text-align: center;
    }
    &_slide-title {
        display: block;
        margin: 0 auto 25px;
        font-weight: 600;
        font-size: 21px;
        line-height: 1.2;
        color: rgba(28, 30, 35, .4);
        max-width: 80vw;
        transition: .5s $easing all;
        @include tablet {
            min-height: 76px;
            font-weight: 500;
            font-size: 32px;
            transform: scale(.65);
            transform-origin: center bottom;
        }

        .tns-slide-active & {
            color: $cBright;
            font-weight: 600;
            transform: scale(1);
        }
    }
    &_slide-image {
        width: 150px;
        @include tablet{
            width: 183px;
            transform: scale(.66);
            transform-origin: center bottom;
            transition: .5s $easing transform;

        }

        .tns-slide-active & {
            @include tablet {
                transform: scale(1);
            }
        }
    }
    
    h1 {
        @include layout;
        margin-top: 60px;
        @include tablet {
            margin: 0 auto 100px;
        }
    }
    .tns-ovh {
        overflow: visible;
    }
    .tns-controls {
        width: 100%;
        bottom: -118px;
    }
    .tns-nav {
        position: relative;
        top: 70px;
        @include tablet {
            top:110px;
        }
    }
}
