.social {
    display: flex;
    gap: 24px;

    &_social-link-image {
        width: 32px;
        height: 32px;
    }
    &_link {
        transition: .2s $easing opacity;

        &:hover {
            opacity: .6;
        }
        &:active {
            opacity: .8;
        }
    }
}
