.team {
    @include tablet {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: 40px 20px;
    }
    @include desktop {
        gap: 40px 30px;
    }

    &_item {
        display: flex;
        gap: 20px;
        align-items: center;
        margin: 0 0 30px;
        @include tablet {
            display: block;
            text-align: center;
            width: calc(33% - 12px);
            margin: 0;
        }
        @include desktop {
            width: calc(25% - 24px);
        }

        &__big {
            @include tablet {
                width: calc(50% - 16px);
            }
        }
    }
    &_image-wrapper {
        width: 70px;
        border-radius: 50%;
        max-width: 100%;
        @include tablet {
            width: 255px;
            margin: 0 auto 16px;
        }
    }
    &_image {
        width: 100%;
        border-radius: 50%;
        filter: grayscale(1);
        transition: .6s $easeOutCirc border-radius;

        .team_item:hover & {
            border-radius: 0%;
        }
    }
    &_name,
    &_position {
        display: block;
        font-size: 15px;
        line-height: 150%;
        @include tablet {
            font-size: 24px;
            line-height: 120%;
        }
    }
    &_name {
        font-weight: 600;
        color: $cBright;
    }
    &_position {
        font-weight: 500;
    }
}
