.team {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 40px 30px;

    &_item {
        text-align: center;
        width: calc(33% - 60px);

        &__big {
            width: calc(50% - 30px);
        }
    }
    &_image-wrapper {
        margin: 0 0 16px;
        border-radius: 50%;
    }
    &_image {
        border-radius: 50%;
        transition: .6s $easeOutCirc border-radius;

        .team_item:hover & {
            border-radius: 0%;
        }
    }
    &_name,
    &_position {
        display: block;
        font-size: 24px;
        line-height: 120%;
    }
    &_name {
        font-weight: 600;
        color: $cBright;
    }
    &_position {
        font-weight: 500;
    }
}
