.themes {
    &_title[class] {
        text-align: left;
    }
    &_columns {
        display: flex;
        gap: 30px;
        align-items: stretch;
        margin: 80px 0 0;
    }
    &_buttons {
        width: 50%;
    }
    &_button {
        @include button-reset;
        font-weight: 600;
        font-size: 32px;
        line-height: 120%;
        color: $color;
        width: 100%;
        text-align: left;
        padding: 34px 0;
        border-bottom: 1px solid $color;
        transition: .3s ease color;

        &:first-child {
            border-top: 1px solid $color;
        }
        &.active {
            color: $cBright;
        }
    }
    &_button-title {
        display: block;
        margin: 0 0 16px;
    }
    &_button-subtitle {
        font-weight: 500;
        font-size: 20px;
        line-height: 140%;
        color: $color;
        display: block;
        overflow: hidden;
        max-height: 0;
        transition: .3s ease max-height;
    
        .active & {
            max-height: 100px;
            @include tablet {
                max-height: 50px;
            }
        }
    }
    &_holder {
        width: 50%;
        position: relative;
    }
    &_image {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, 0);
        opacity: 0;
        transition: .3s $easingSmooth opacity;

        &.active {
            opacity: 1;
        }
    }
}
