.transportation-stats {
    &_title[class] {
        font-size: 26px;
        width: 100%;
        @include tablet {
            font-size: 36px;
            margin: 0 auto 40px;
            max-width: 840px;
        }

        span {
            color: $bg_color;
            display: block;
        }
    }
    &_cards {
        @include tablet {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: auto;
            gap: 30px;
        }
    }
    &_card {
        background-color: $bg_color;
        border-radius: 16px;
        padding: 18px 14px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        text-align: center;
        gap: 20px;
        box-sizing: border-box;
        height: 300px;
        user-select: none;
        @include tablet {
            height: auto;
            min-height: 340px;
        }
    }
    &_card-title {
        font-size: 14px;
        line-height: 1.5;
        font-weight: 500;
        min-height: 60px;
        @include tablet {
            font-size: 19px;
            line-height: 140%;
        }
    }
    &_card-image {
        margin: 6px 0 0;
        @include tablet {
            height: 158px;
            object-fit: contain;
        }
    }

    .tns-outer {
        margin-left: -30px;
        margin-right: -30px;
    }
    .tns-ovh {
        padding-left: 30px;
        padding-right: 30px;
    }
    .tns-nav {
        margin-top: 40px;

        button {
            &.tns-nav-active {
                background-color: #fff;
                width: 50px;
            }
        
            &:hover {
                opacity: .6;
                background-color: #fff;
            }
        
            &:active {
                opacity: .8;
            }
        }
    }
}
